body {
    background: black;
    color: white;
    font-family: 'Share Tech Mono', monospace;
}

button {
    cursor: pointer;
}

/* connecting */
#connecting {
    margin: 0 auto;
    width: 1000px;
    padding: 10px;
}

/* lobbies */
.lobbies {
    margin: 0 auto;
    width: 1000px;
    border: 2px solid white;
    padding: 10px;
}

#lobby {
    float: left;
    min-width: 200px;
    padding: 20px;
    border: 2px solid white;
    min-height: 585px;
}

/* game */
.game {
    float: left;
    width: 1000px;
    position: relative;
    height: 625px;
    margin: 0 auto;
    background: black;
    border: 2px solid white;
}
